$color-primary: #ffffff;

$first-padding: 5%;

$level1-font: "Roboto", sans-serif;

$h1-font: "Bebas Neue", cursive;
$h1-font-size: 100px;

$h2-font: "Myriad-pro", sans-serif;
$h2-font-size: 18px;

$h3-font-size: 18px;

$h4-font-size: 15px;

$h5-font-size: 13px;

$p-font: "Roboto", sans-serif;
$p-font-size: 13px;
$p-line-height: 1.5;
