$color-primary: #313131;
$color-info-font: #d4d4d4;

$h1-font: "Bebas Neue", cursive;
$h1-font-size: 100px;

$h2-font: "Myriad-pro", sans-serif;
$h2-font-size: 18px;

$h3-font: "Roboto", sans-serif;
$h3-font-size: 18px;
